@import 'reset';

$dark-blue: #0F4567;
$light-blue: #6D9EAB;
$aqua: #7AACB3;
$almost-white: #99BFC5;

$primary-font:'Yeseva One',
cursive;
$body-font:'Rosario',
sans-serif;


body {
    background: $aqua;
    font-family: $body-font;
    overflow: hidden;
}

::selection {
    background: #fff;
}

hr {
    width: 100%;
    height: 5px;
    margin: 20px 0;
    border-width: 0;
    background-color: $almost-white;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        color: white;
        text-decoration: none;
        padding: 14px 40px;
        margin: 5px;
        border: 2px solid white;
        border-radius: 4px;
        transition: background-color 0.5s;
        font-family: $primary-font;

        &.primary {
            background-color: $dark-blue;
        }

        &:hover {
            background-color: darken($dark-blue, 5%);
        }
    }
}

.branding {
    position: absolute;
    display: flex;
    margin: 15px 0 0 15px;
    height: 37px;

    img {
        width: 50px;
    }

    .name {
        display: flex;
        flex-direction: column;
        font-family: $primary-font;
        color: $dark-blue;
        font-size: 1.1em;
        justify-content: space-between;
        margin-left: 10px;

        & span:nth-child(1) {
            color: white;
        }
    }
}


main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;

    .container {
        text-align: center;
        width: 500px;
    }

    h1 {
        font-family: $primary-font;
        color: $dark-blue;
        font-size: 3em;
        margin-bottom: 30px;

        span {
            color: white;
        }
    }

    p {
        color: $dark-blue;
        font-size: 1.5em;
        line-height: 30px;
        text-align: left;
    }

    img {
        margin-bottom: 15px;
        width: 100px;
    }
}

.square {
    position: absolute;
    height: 500px;
    width: 500px;
    background: #6D9EAB;
    bottom: 0;
    left: 0;
    z-index: -1;
    transform: rotate(20deg);
}